@{
    ViewData["Title"] = "Home Page";
}

<main>
    <!-- hero slider area start -->
    <section class="slider-area">
        <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
            <!-- single slider item start -->
            <div class="hero-single-slide hero-overlay">
                <div class="hero-slider-item bg-img" data-bg="assets/img/slider/banner1.jpeg">
                    @*<div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="hero-slider-content slide-1">
                                    <h2 class="slide-title">Technology for Innovators</h2>
                                    <a href="/Products" class="btn btn-hero">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <!-- single slider item start -->
            <!-- single slider item start -->
            <div class="hero-single-slide hero-overlay">
                <div class="hero-slider-item bg-img" data-bg="assets/img/slider/banner2.png">
                    @*<div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="hero-slider-content slide-2">
                                    <h2 class="slide-title">Technology for Innovators</h2>
                                    <a href="/Products" class="btn btn-hero">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <!-- single slider item start -->
        </div>
    </section>
    <!-- hero slider area end -->
    <!-- service policy area start -->
    <div class="service-policy section-padding">
        <div class="container">
            <div class="row mtn-30">
                <div class="col-md-4">
                    <div class="policy-item">
                        <div class="policy-icon">
                            <i class="pe-7s-plane"></i>
                        </div>
                        <div class="policy-content">
                            <h4 class="policy-title">Free Shipping</h4>
                            <p>Free shipping all order</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="policy-item">
                        <div class="policy-icon">
                            <i class="pe-7s-headphones"></i>
                        </div>
                        <div class="policy-content">
                            <h4 class="policy-title">Customer Support</h4>
                            <p>Support 24 hours a day</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="policy-item">
                        <div class="policy-icon">
                            <i class="pe-7s-shield"></i>
                        </div>
                        <div class="policy-content">
                            <h4 class="policy-title">Secure Payment</h4>
                            <p>We ensure secure payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service policy area end -->
    <!-- banner statistics area start -->
    <div class="banner-statistics-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure class="banner-statistics">
                        <a href="#">
                            <img src="assets/img/banner/banner3.png" alt="product banner">
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!-- banner statistics area end -->
    <!-- featured product area start -->
    @{
        IEnumerable<OrderDetail> orderderail = ViewData["orderdeatail"] as IEnumerable<OrderDetail>;
        IEnumerable<OrderDetail> allorderderail = ViewData["allorderdetail"] as IEnumerable<OrderDetail>;
    }
    <!-- featured product area end -->
    <!-- testimonial area start -->
    <div class="brand-logo section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-logo-carousel slick-row-10 slick-arrow-style">
                        <!-- single brand start -->
                        <div class="brand-item">
                            <a href="#">
                                <img src="assets/img/brand/apple.png" height="50" alt="">
                            </a>
                        </div>
                        <!-- single brand end -->
                        <!-- single brand start -->
                        <div class="brand-item">
                            <a href="#">
                                <img src="assets/img/brand/dell.jpg" height="50" alt="">
                            </a>
                        </div>
                        <!-- single brand end -->
                        <!-- single brand start -->
                        <div class="brand-item">
                            <a href="#">
                                <img src="assets/img/brand/asus.jpg" height="50" alt="">
                            </a>
                        </div>
                        <!-- single brand end -->
                        <!-- single brand start -->
                        <div class="brand-item">
                            <a href="#">
                                <img src="assets/img/brand/logi.jpg" height="50" alt="">
                            </a>
                        </div>
                        <!-- single brand end -->
                        <!-- single brand start -->
                        <div class="brand-item">
                            <a href="#">
                                <img src="assets/img/brand/corsair.png" height="50" alt="">
                            </a>
                        </div>
                        <!-- single brand end -->
                        <!-- single brand start -->
                        <div class="brand-item">
                            <a href="#">
                                <img src="assets/img/brand/edra.jpg" height="50" alt="">
                            </a>
                        </div>
                        <!-- single brand end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand logo area end -->
</main>

<!-- Scroll to top start -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div>
<!-- Scroll to Top End -->
<!-- footer area start -->
<!-- footer area end -->
<!-- Quick view modal start -->
<div class="modal" id="quick_view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- product details inner end -->
                <div class="product-details-inner">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-large-slider">
                                <div class="pro-large-img img-zoom">
                                    <img src="/assets/img/product/product-details-img1.jpg" alt="product-details" />
                                </div>
                                <div class="pro-large-img img-zoom">
                                    <img src="/assets/img/product/product-details-img2.jpg" alt="product-details" />
                                </div>
                                <div class="pro-large-img img-zoom">
                                    <img src="/assets/img/product/product-details-img3.jpg" alt="product-details" />
                                </div>
                                <div class="pro-large-img img-zoom">
                                    <img src="/assets/img/product/product-details-img4.jpg" alt="product-details" />
                                </div>
                            </div>
                            <div class="pro-nav slick-row-10 slick-arrow-style">
                                <div class="pro-nav-thumb">
                                    <img src="/assets/img/product/product-details-img1.jpg" alt="product-details" />
                                </div>
                                <div class="pro-nav-thumb">
                                    <img src="/assets/img/product/product-details-img2.jpg" alt="product-details" />
                                </div>
                                <div class="pro-nav-thumb">
                                    <img src="/assets/img/product/product-details-img3.jpg" alt="product-details" />
                                </div>
                                <div class="pro-nav-thumb">
                                    <img src="/assets/img/product/product-details-img4.jpg" alt="product-details" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-details-des">
                                <h3 class="product-name">Handmade Leather Bags Full Package</h3>
                                <div class="ratings d-flex">
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <div class="pro-review">
                                        <span>1 Reviews</span>
                                    </div>
                                </div>
                                <div class="price-box">
                                    <span class="price-regular">$70.00</span>
                                    <span class="price-old"><del>$90.00</del></span>
                                </div>
                                <div class="availability">
                                    <i class="fa fa-check-circle"></i>
                                    <span>200 in stock</span>
                                </div>
                                <p class="pro-desc">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                                </p>
                                <div class="quantity-cart-box d-flex align-items-center">
                                    <h6 class="option-title">qty:</h6>
                                    <div class="quantity">
                                        <div class="pro-qty"><input type="text" value="1"></div>
                                    </div>
                                    <div class="action_link">
                                        <a class="btn btn-cart2" href="#">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="useful-links">
                                    <a href="#" data-toggle="tooltip" title="Compare">
                                        <i class="pe-7s-refresh-2"></i>compare
                                    </a>
                                    <a href="#" data-toggle="tooltip" title="Wishlist">
                                        <i class="pe-7s-like"></i>wishlist
                                    </a>
                                </div>
                                <div class="like-icon">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i>like</a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i>tweet</a>
                                    <a class="pinterest" href="#"><i class="fa fa-pinterest"></i>save</a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i>share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- product details inner end -->
            </div>
        </div>
    </div>
</div>
<!-- Quick view modal end -->
<!-- offcanvas mini cart start -->
<div class="offcanvas-minicart-wrapper">
    <div class="minicart-inner">
        <div class="offcanvas-overlay"></div>
        <div class="minicart-inner-content">
            <div class="minicart-close">
                <i class="pe-7s-close"></i>
            </div>
            <div class="minicart-content-box">
                <div class="minicart-item-wrapper">
                    @{
                        Double totlalprice = 0;

                        if (orderderail == null)
                        {
                            <li class="minicart-item">

                            </li>
                        }
                        else
                        {
                            @foreach (OrderDetail ord in orderderail)
                            {
                                totlalprice += Convert.ToDouble(ord.Price * ord.Quantity);
                                <li class="minicart-item">
                                    <div class="minicart-thumb">
                                        @{
                                            string[] arrListStr = ord.Product.ProductImage.Split(' ');
                                        }
                                        <a href="product-details.html">
                                            <img src="/assets/img/product/@arrListStr[0]" alt="product">
                                        </a>
                                    </div>
                                    <div class="minicart-content">
                                        <h6 class="product-name">
                                            <a href="/Products/Details/@ord.Product.Id">@ord.Product.ProductName</a>
                                        </h6>
                                        <p>
                                            <span class="cart-quantity">@ord.Quantity<strong>&times;</strong></span>
                                            <span class="cart-price">$@ord.Price</span>
                                        </p>
                                    </div>
                                    <a href="/AddOrder/Delete/@ord.Id" class="minicart-remove"><i class="pe-7s-close"></i></a>
                                </li>
                            }
                        }
                    }
                </div>

                <div class="minicart-pricing-box">
                    <ul>
                        <li class="total">
                            <span>total</span>
                            <span><strong>$@totlalprice</strong></span>
                        </li>
                    </ul>
                </div>

                <div class="minicart-button">
                    <a href="/OrderDetails"><i class="fa fa-shopping-cart"></i> View Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>


