@model IEnumerable<Shop.Models.Wishlist>

<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Home"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/Products">shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">wishlist</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- wishlist main wrapper start -->
    <div class="wishlist-main-wrapper section-padding">
        <div class="container">
            <!-- Wishlist Page Content Start -->
            <div class="section-bg-color">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Wishlist Table Area -->
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="pro-thumbnail">Thumbnail</th>
                                        <th class="pro-title">Product</th>
                                        <th class="pro-price">Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        string[] images = item.Product.ProductImage.Split(' ');
                                        <tr>
                                            <td class="pro-thumbnail"><img class="img-fluid" src="https://localhost:44347/images/@images[0]" alt="Product" /></td>
                                            <td class="pro-title"><a href="/Products/Details/@item.ProductId">@item.Product.ProductName</a></td>
                                            <td class="pro-price"><span>$@item.Product.OutPrice.ToString("#,##0.#")</span></td>
                                            <td class="pro-subtotal">
                                                <a asp-controller="AddOrder" asp-action="AddtoCart" asp-route-id="@item.ProductId" class="btn btn-cart2">
                                                    Add to Cart
                                                </a>

                                                <a asp-controller="Wishlist" asp-action="RemoveWishlist" asp-route-id="@item.ProductId" class="btn btn-danger btn-remove">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                                 @*<form method="post" asp-controller="AddOrder"></form>*@
                                                @*<button type="submit" formaction="PlaceCOD" class="btn btn-sqr">Place Order</button>
                                            <button type="submit" formaction="PayViaZaloPay" class="btn btn-sqr"><img src="~/assets/img/logo-zalopay.svg" alt=""> Pay via ZaloPay</button>
                                            <button type="submit" formaction="PayViaMomo" class="btn btn-sqr"><img src="~/assets/img/momo_square.svg" width="18px" alt=""> Pay via Momo</button>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Wishlist Page Content End -->
        </div>
    </div>
    <!-- wishlist main wrapper end -->
</main>

<!-- Scroll to top start -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div>
<!-- Scroll to Top End -->

<style>
    .btn-remove {
        background-color: #dc3545 !important;
        color: #fff !important;
    }
</style>